<div class="container">
  <div class="rows">
    <table class="striped centered responsive-table">
      <thead>
      <tr>
        <th>Date created</th>
        <th>Article title</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
        <tr>
            <div class="row">
              <div class="col s12 m4 l4"><td><%= article.created_at%></td></div>
              <div class="col s12 m4 l4"><h6><td><%= article.title.capitalize %></td></h6></div>
              <div class="col s12 m4 l4">
                <td>
                  <%= link_to "Read it", article_path(article), class:"btn"%>
                  <%= link_to "Delete", article_path(article), method: :delete, class:"btn red" %>
                </td>
              </div>
            </div>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>

</div>
  </div>
</div>

