<nav>
  <div class="nav-class">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Login/Signup", new_session_path %></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">

        <div class="col s12 m7">
          <% @articles.each do |article| %>
            <div class="card small">
              <div class="card-image">
                <%=article.image %>
                <span class="card-title"><%= article.title.capitalize %></span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

