 <div class="row">
    <div class="col m6 l6 start">
      <%= image_tag 'guy.jpg' %>
    </div>
    <div class="col m6 l6">
      <h1 class="flow-text">Welcome to LifeStyle</h1>
      <p class="flow-text">This is a blog app, write everything that comes in your mind click <%= link_to 'Join', new_user_path %> or <%= link_to 'Sign in', new_session_path %> if you have an account. Enjoy!</p>
    </div>
  </div>
