<footer>
    <div class="footer-content">
        <span><%= link_to 'LifeBlog', home_index_path, class:'brand-logo flow-text' %></span>
        <span>copyright &copy; 2020</span>
        <div class="social">
            <span class="material-icons">facebook</span>
            <span class="material-icons">chat_bubble</span>
            <span class="material-icons">email</span>
        </div>
</footer>