body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    background-size: cover;
}

nav {
    background-color: whitesmoke;
    color: black;
}

.login {
    color: #8b8680;
}

.login:hover {
    color: #fa6000;
}

nav a.brand-logo {
    background-color: #fa6000;
    color: white;
}

ul.center-ul {
    padding-left: 450px;
}

form {
    margin-top: 100px;
    padding: 75px 100px;
}

input {
    text-align: center;
    border-bottom: #fa6000;
}

button {
    background-color: #fa6000;
}

select#article_category_id {
    display: block;
}

nav.navibar .nav-class {
    background-color: whitesmoke;
    color: black;
}

.login {
    color: #8b8680;
}

.login:hover {
    color: #fa6000;
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
}

.cat-img img {
    object-fit: cover;
    height: 270px;
    width: 270px;
}

.cat-img {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.card-content {
    position: relative;
    top: 155px;
}

.carte {
    margin: 35px 0 35px 0;
}

.carte a {
    color: #f99c00;
    position: relative;
    left: 50%;
}

.title {
    color: #f99c00;
}

strong {
    font-weight: bolder;
}

.rows {
    margin: -178px auto 0 auto;
}

a.btn {
    background-color: #f99c00;
}

.most_voted {
    height: 65vh;
    padding: 70px;
    margin-top: -24px;
    background-size: cover;
    background-repeat: no-repeat;
}

a.links {
    color: #fa6000;
}

.title a.links {
    color: #fa6000;
}

.carte-content {
    position: absolute;
    bottom: 30%;
}

.card-para p{
	/* background: inherit;
	-webkit-background-clip: text;
					background-clip: text;
	color: transparent;
    filter: invert(1) grayscale(1) contrast(9); */
    height: inherit;
    background: inherit;
    color: transparent;
    filter: invert(1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: large;
}