html,
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

nav {
  background-color: whitesmoke;
  color: black;
}

nav a.brand-logo {
  background-color: #fa6000;
  color: white;
}

ul.center-ul {
  padding-left: 450px;
}

form {
  margin-top: 100px;
  padding: 75px 100px;
}

input {
  text-align: center;
  border-bottom: #fa6000;
}

button {
  background-color: #fa6000;
}

select#article_category_id {
  display: block;
}

nav.navibar .nav-class {
  background-color: whitesmoke;
  color: black;
}

.login {
  color: #8b8680;
}

.login:hover {
  color: #fa6000;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
}


.card,
.card-image,
img {
  object-fit: cover !important;
}

.cat-img img {
  object-fit: cover;
  height: 270px;
  width: 270px;
}

.cat-img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

/* .card-content {
  position: relative;
  top: 155px;
} */

.carte {
  margin: 35px 0 35px 0;
}

.carte a {
  color: #f99c00;
  position: relative;
  left: 50%;
}

.title {
  color: #f99c00;
}

strong {
  font-weight: bolder;
}

.btnn {
  background-color: #fa6000;
  padding: 10px;
  border: none;
  color: white;
  box-shadow: transparent;
  cursor: pointer;
}

a.btn {
  background-color: #f99c00;
}

/* home#index page */

.most_voted {
  background-size: cover;
  background-repeat: no-repeat;
}

a.links {
  color: #fa6000;
  font-weight: bolder;
}

.cat_links {
  text-decoration: underline yellow;
}

.title a.links {
  color: #fa6000;
}

.card-title {
  color: white;
  mix-blend-mode: difference;
  font: large;
}

.carte-content {
  position: absolute;
  top: 35%;
}

.card-para p {
  color: white;
  mix-blend-mode: difference;
  font: large;
}

/* ------------------------------------------- */

.card-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: -8px;
}

.logout,
.in-out {
  float: right;
}

.flash {
  text-align: center;
  color: brown;
}

.rows {
  margin: -178px auto 0 auto;
}

/* Footer */

footer {
  background-color: #4e443f;
  height: 57px;
  padding: 12px;
  color: #fa6000;
  position: absolute;
  bottom: -10%;
  width: 100%;
}

.footer-content {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-content a.brand-logo {
  background-color: #fa6000;
  color: white;
  padding: 12px;
}

/* index article page */

.articles {
  float: right;
  margin-top: 250px;
  position: sticky;
}

.myart {
  background-color: #fa6000;
  padding: 12px 70px 12px 70px;
  text-align: center;
  border: none;
  color: white;
  box-shadow: transparent;
  cursor: pointer;
}
/* Show article */

.reaction {
  font-weight: bolder;
}

.side {
  position: sticky;
  position: -webkit-sticky;
  top: 15%;
  display: flex;
  flex-flow: column;
  align-content: space-evenly;
  align-items: center;
}

input {
  border-bottom: 1px solid #fa6000 !important;
}

input:hover {
  border-bottom: 2px solid #fa6000 !important;
}

input:focus {
  border-bottom: 2px solid #fa6000 !important;
  box-shadow: none!important;
}

.textarea {
  border: none !important;
}

.form form {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75); 
}
